


.azeret-mono-lng {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* banner styie */
.banner-container{
    width: 1440px;
    height: 650px;
    margin: 0 auto;
    margin-top: 100px;
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    width: 998px;
    height: 580px;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
}
.banner-content img {
    margin-bottom: 20px;
}
.banner-content h3{
    font-size: 48px;
    font-weight: 800;
}
.banner-content p{
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
    margin: 30px 30px;
}
.btn-primary{
    width: 230px;
    height: 50px;
    border-radius: 10px;
    background-color: #0D1321;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    
}

/* section1 why web development */
.section1-container{
    width: 1150px;
    height: 1400px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 20px;
    background-color: rgba( 13 ,19,33,0.02);
    padding: 20px 30px;
}
.section1-heading{
    width: 850px;
    height: 110px;
    margin: 0 auto;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
}
.section1-body{
    width: 950px;
    height: 1070px;
    margin: auto;
    margin-bottom: 0;
    font-family: "Azeret Mono", monospace;
}
.section1-body-part {
    padding: 5%;
    display: flex;
    gap: 60px;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.sec1-body-title {
    font-size: 24px;
    font-weight: 700px;
    color: rgba(13, 19, 33, 0.70);
}
.sec1-body-describtion {
    font-size: 16px;
    font-weight: 400px;
    color: #0D1321;
}
.sec1-body-btn {
    height: 50px;
    width: 170px;
    font-size: 20px;
    font-weight: 600px;
    color: #0D1321;
}
/* section 1 end */

/* video content start   */
.section2-conteiner{
    width: 1140px;
    height: 730px;
    margin: 0 auto;
}
.video-content-heading {
    width: 850px;
    height: 110px;
    text-align: center;
    margin: 0 auto;
    font-family: "Azeret Mono", monospace;
}
.video-content-heading-title {
    font-size: 32px;
    font-weight: 800px;
    margin: 0 auto; 
}
.video-content-heading-describtion {
    font-size: 16px;
    font-weight: 400px ;
    margin-bottom: 0;
}
.video-content-video {
    width: 850px;
    height: 500px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: ffffff;
    border: 1px solid rgba(13, 19, 33, 0.10);
    border-radius: 10px;


}
iframe{
    width: 810px;
    height: 455px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
}